altgraph==0.17.3
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.0.12
colorama==0.4.6
cprint==1.2.2
cryptography==40.0.2
defusedxml==0.7.1
et-xmlfile==1.1.0
gevent==22.10.2
greenlet==2.0.2
idna==3.4
Jinja2==3.1.2
lxml==4.9.2
macholib==1.16.2
MarkupSafe==2.1.2
mysql-connector-python==8.0.33
ntlm-auth==1.5.0
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.2
protobuf==3.20.3
psutil==5.9.5
psycopg==3.1.9
psycopg-binary==3.1.9
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pyOpenSSL==23.1.1
pyparsing==3.0.9
PySimpleGUI==4.60.5
PySocks==1.7.1
pyspnego==0.9.0
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2023.3
requests==2.30.0
requests-ntlm==1.2.0
six==1.16.0
soupsieve==2.4.1
termcolor==2.3.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
zope.event==4.6
zope.interface==6.0
